@import "tailwindcss";

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 10s linear infinite;
}

:root {
  --primary-bg: #e5e1d8;
  --secondary-bg: #170f0b;
  --background: var(--primary-bg);
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-primary-bg: var(--primary-bg);
  --color-secondary-bg: var(--secondary-bg);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-serif: var(--font-playfair);
  --font-poppins: var(--font-poppins);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(
    --font-serif
  ); /* Default to Playfair as requested for the project style */
}

/* Responsive Typography Styles */
@layer base {
  h1 {
    @apply font-serif font-bold;
    font-size: 2.5rem; /* Mobile */
  }

  h2,
  .subheading {
    @apply font-serif;
    font-size: 1.5rem;
  }

  p {
    @apply font-serif;
    font-size: 1rem;
    line-height: 1.6;
  }

  /* Tablet */
  @media (min-width: 768px) {
    h1 {
      font-size: 4rem;
    }
    h2,
    .subheading {
      font-size: 2rem;
    }
    p {
      font-size: 1.125rem;
    }
  }

  /* Desktop */
  @media (min-width: 1024px) {
    h1 {
      font-size: 5rem;
    }
    h2,
    .subheading {
      font-size: 2.5rem;
    }
  }
}

@utility font-poppins {
  font-family: var(--font-poppins), sans-serif;
}

/* Custom Selection Color */
::selection {
  background-color: #bea585 !important;
  color: #1a1a1a !important;
}

::-moz-selection {
  background-color: #bea585 !important;
  color: #1a1a1a !important;
}

/* Custom Scrollbar */
/* For Firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: #bea585 transparent;
}

/* For Webkit Browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #bea585;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a38c6d;
}

::-webkit-scrollbar-button {
  display: none;
}
